.jumbotron {
    background-color: #fdf8e1;
    border: 2px solid #FFE4C4;
    h2{
        color: #c41200;
        font-weight: bold;
    }
}

.navbar-default {
    .container-fluid {
        background-color: #b80b04;
        .navbar-nav > li > a {
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
        }
        .navbar-brand {
            color: #000000;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Hobo Std';
            text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 2px 0 #ffffff, 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
        }
    }
}

.container-fluid {
    padding: 10px 180px;
}